numpy
torch==2.1.0
torchvision>=0.10.0
opencv-python-headless
loguru
scikit-image
tqdm
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
onnx==1.15.0
onnxruntime>=1.21.0
onnx-simplifier==0.3.5
streamlit
ultralytics
transformers
accelerate
cmake
