numpy
torch==2.1.0
opencv-python-headless
loguru
scikit-image
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
onnx==1.15.0
onnxruntime>=1.21.0
onnx-simplifier==0.3.5
streamlit 
ultralytics 
yolox 
transformers
bitsandbytes 
accelerate
cython_bbox
cmake
