numpy
opencv_python
loguru
scikit-image
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
onnx==1.15.0
onnxruntime==1.15.1
onnx-simplifier==0.3.5
streamlit 
ultralytics 
yolox 
torch 
transformers
bitsandbytes 
accelerate
